<footer>
  <div class="flex items-center bg-[#262F3E] text-white gap-2">
    <img src="/images/ppg_logo.svg" alt="PPG Logo" class="h-14 m-4" />
    <a href="/avisoprivacidad" class="hover:underline">Aviso de privacidad</a>
    <p>|</p>
    <a href="/terminoscondiciones" class="hover:underline"
      >Términos y condiciones</a
    >
  </div>
</footer>
