<footer>
  <div class="flex flex-wrap items-center justify-between bg-[#262F3E] text-white gap-4 px-4 py-2">
    <div class="flex items-center gap-4">
      <img src="/images/branding/ppg_logo.svg" alt="PPG Logo" class="h-14 m-2 sm:m-4" />
      <p class="text-[10px] sm:text-xs opacity-75 max-w-xs md:max-w-md leading-tight">
        The PPG logo is a registered trademark and Colorful Communities and We protect and beautify the world are
        trademarks of PPG Industries Ohio, Inc. © 2026 PPG Industries, Inc. All Rights Reserved
      </p>
    </div>
    <div class="flex items-center gap-2 p-2 sm:p-4 ml-auto">
      <a href="/avisoprivacidad" class="hover:underline whitespace-nowrap text-sm">Aviso de privacidad</a>
      <span class="text-sm">|</span>
      <a href="/terminoscondiciones" class="hover:underline whitespace-nowrap text-sm">Términos y condiciones</a>
    </div>
  </div>
</footer>