<footer>
  <div class="flex flex-wrap items-center justify-between bg-[#262F3E] text-white gap-4 px-4 py-2">
    <div class="flex items-center gap-4">
      <img src="/images/branding/ppg_logo.svg" alt="PPG Logo" class="h-14 m-2 sm:m-4" />
      <p class="text-[10px] sm:text-xs opacity-75 max-w-xs md:max-w-md leading-tight">
        The PPG logo is a registered trademark and Colorful Communities and We protect and beautify the world are
        trademarks of PPG Industries Ohio, Inc. © 2026 PPG Industries, Inc. All Rights Reserved
      </p>
    </div>
    <div class="flex items-center gap-2 p-2 sm:p-4 ml-auto">
      <a href="/avisoprivacidad" class="hover:underline whitespace-nowrap text-sm">Aviso de privacidad</a>
      <span class="text-sm">|</span>
      <a href="/terminoscondiciones" class="hover:underline whitespace-nowrap text-sm">Términos y condiciones</a>
    </div>
  </div>
  <div id="modalInvalidToken" tabindex="-1" aria-hidden="true"
    class="hidden fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50 backdrop-blur-sm transition-opacity">
    <div class="relative w-full max-w-md bg-white rounded-lg shadow-xl p-6 text-center border border-gray-200">
      <span class="material-icons text-amber-500 text-5xl mb-4">warning</span>
      <h3 class="mb-6 text-lg font-medium text-gray-800">La página o formulario expiró por seguridad. Por favor recarga
        la página e inténtalo de nuevo.</h3>
      <div class="flex flex-col sm:flex-row justify-center gap-3">
        <button id="btnModalInvalidToken" type="button" onclick="location.reload()"
          class="order-1 flex-1 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 transition-colors">
          Recargar página
        </button>
      </div>
    </div>
  </div>
  <script>
    const urlParams = new URL(window.location.href);
    const modalInvalidToken = document.getElementById('modalInvalidToken');
    if (urlParams.searchParams.get('invalidToken') === '1') {
      modalInvalidToken.classList.remove('hidden');
      urlParams.searchParams.delete('invalidToken');
      window.history.replaceState({}, document.title, urlParams.pathname + urlParams.search);
    }
    if (modalInvalidToken) {
      modalInvalidToken.addEventListener('click', (e) => {
        if (e.target === modalInvalidToken) {
          modalInvalidToken.classList.add('hidden');
        }
      });
    }
  </script>
</footer>