<nav class="bg-[#262F3E] py-2">
    <div class="flex items-center justify-between">
        <div>
            <img/>
        </div>
        <div class="ml-4">
            <button class="bg-white text-[#262F3E] px-4 py-2 rounded-md hover:bg-gray-200">Productos</button>
        </div>
        <div class="flex w-96">
            <input 
                type="text" 
                placeholder="Buscar" 
                class="flex-1 px-4 py-2 rounded-l-lg outline-none"
            />
            <button class="bg-[#2B6398] hover:bg-[#24537e] border-l-0 px-3 flex items-center justify-center rounded-r-lg">
                <img src="/images/ui/search_icon.svg" alt="Buscar" class="h-6 w-6">
            </button>
        </div>
        <div class="flex mr-4 items-center justify-center gap-8">
            <button class="bg-white text-[#262F3E] px-4 py-2 rounded-md hover:bg-gray-200">Historial de reservas</button>
            <button class="bg-white text-[#262F3E] px-4 py-2 rounded-md hover:bg-gray-200">Reporte</button>
            <img src="/images/ui/user_icon.svg" alt="Icono de usuario" class="h-12" />
        </div>
    </div>
</nav>  