<nav class="bg-[#262F3E] py-2">
    <div class="flex items-center justify-between">
        <!-- Logo del sistema -->
        <div>
            <img/>
        </div>
        <!-- Botón de Productos -->
        <div class="ml-4">
            <a href="/empleado/gestion-productos" class="bg-white text-[#262F3E] px-4 py-2 rounded-md hover:bg-gray-200">Productos</a>
        </div>
        <!-- Barra de búsqueda -->
        <div class="flex w-96">
            <input 
                type="text" 
                placeholder="Buscar" 
                class="flex-1 px-4 py-2 rounded-l-lg outline-none"
            />
            <button class="bg-[#2B6398] hover:bg-[#24537e] border-l-0 px-3 flex items-center justify-center rounded-r-lg">
                <span class="material-icons text-white text-2xl">search</span>
            </button>
        </div>
        <!-- Acciones del empleado -->
        <div class="flex mr-4 items-center justify-center gap-8">
            <a href="/empleado/tabla-reservas" class="bg-white text-[#262F3E] px-4 py-2 rounded-md hover:bg-gray-200">Tabla de reservas</a>
            <a href="/empleado/reporte" class="bg-white text-[#262F3E] px-4 py-2 rounded-md hover:bg-gray-200">Reporte</a>
            <!-- Icono de perfil -->
            <button class="text-white hover:text-gray-300 flex items-center justify-center">
                <span class="material-icons" style="font-size:2.8rem">account_circle</span>
            </button>
        </div>
    </div>
</nav>
